.add-seller__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 42px 16px 0;
  height: 615px; 
  transition: all .5s ease-in;
}

.add-seller__text-aux {
  color: var(--diasble-text);
  padding: 3px 12px 0;
  width: 100%;
}

.add-seller__spacer-1 {
  height: 36px;
}

.add-seller__category {
  padding: 30px 0 0 0;
}

.add-seller__radio-wrapper {
  padding: 23px 0 0 0;
}

.add-seller__radio-title {
  padding: 0 0 12px 0;
}

.add-seller__radio-option {
  padding: 10px 0 10px 22px;
  display: flex;
}

.add-seller__radio-option label {
  padding: 0 0 0 28px;
}

input[type="radio"] {
  appearance: none;
  background-color: #ffffff00;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid currentColor;
  border-radius: 100%;
  display: grid;
  place-content: center;
}


input[type="radio"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
}

input[type="radio"]:checked::before {
  transform: scale(0.7);
} 

.add-seller__submit-btn {
  margin: 34px 0 0 0;
}

.add-seller__store-address {
  padding: 20px 0 0 0;
}