.btn {
  background-color: inherit;
  padding: 0.625rem;
  border: none;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
}

.btn-text-only {
  border: none;
  background-color: var(--bg);
  font: var(--text-body);
  text-decoration: underline;
}

.btn-solid {
  border: none;
  color: var(--bg);
  background-color: var(--primary);
  font: var(--text-h3);
  margin: 1rem 0 0 0;
}

.btn-long {
  width: 100%;
}

.btn-short {
  width: 150px;
}

.btn:disabled {
  background-color: gray;
}