.card-container {
  z-index: 1;
  padding: 4px;
}

.card-background {
  border-radius: 8px;
}

.card {
  height: 176px;
  width: 295px;
  padding: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  overflow: hidden;
}

.card__gradient--1 {
  background: rgb(149, 228, 198);
  background: linear-gradient(340deg, rgba(149, 228, 198, 1) 0%, rgba(16, 62, 105, 1) 100%);
}

.card__top-info {
  display: flex;
  justify-content: space-between;
}

.card__number {
  padding: 1.5rem 0 0 0;
}

.card__bottom-info {
  display: flex;
  justify-content: space-between;
}

.card__text {
  font-size: .8rem;
}

.card__shadow {
  position: absolute;
  width: 40rem;
  height: 40rem;
  margin: -30rem 0 0 -30rem;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}
