.checkout__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  padding: 0 16px;
}

.checkout__transaction-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 197px;
  border: 2px solid var(--primary);
  border-radius: var(--radius);
  margin-top: 21px;
}

.checkout__seller-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66%;
  gap: 1rem;
  margin-top: 16px;
}

.checkout__avatar {
  height: 72px;
  width: 72px;
}

.checkout__fix-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 14px 0;
  font: 600 2rem 'Blinker', 'Roboto', sans-serif;
}

.checkout__fix-amount span {
  font: inherit;
}

.checkout__no-cards {
  display: grid;
  justify-content: center;
}

.checkout__paymets-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 328px;
}

.checkout__pay-btn {
  margin: 0 0 30px 0;
}

.checkout__donate-wrapper {
  display: flex;
  height: 197px;
  margin-top: 21px;
  gap: 14px;
  overflow-x: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.checkout__donate-wrapper::-webkit-scrollbar {
  display: none;
}


.checkout__donate-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 150px;
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  text-align: center;
  position: relative;
}

.checkout__donate-opt-input {
  appearance: none;
  position: absolute;
  display: grid;
  place-content: center;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-color: #ffffff00;
  border: 0px solid var(--white);
  transition: border .2s ease-in-out;
  border-radius: var(--radius);
}

.checkout__donate-opt-input:checked {
  border: 2px solid var(--white);
}

.checkout__donate-opt-img {
  border-radius: var(--radius);
  height: 90px;
  width: auto;
}

.checkout__donate-item {
  color: var(--white);
  padding: 16px 0 14px 0;
}

.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}