.text-input__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 9px 21px 9px 16px;
  width: 100%;
  border: 2px solid var(--primary);
  border-radius: var(--radius);
  position: relative;
}

.text-input__wrapper label {
  position: absolute;
  top: -1rem;
  background-color: var(--bg);
  padding: 4px;
  color: var(--secondary);
  border-radius: var(--radius
  );
}

.text-input__wrapper input {
  flex-grow: 1;
  height: fit-content;
}

.checkbox-input__wrapper {
  display: flex;
  gap: 0.5rem;
}

.select-input__wrapper {
  border: transparent;
  width: 100%;
  position: relative;
}

.select-inout__options {
  position: absolute;
  top: 0;
  left: 0;
}

.funds-input__wrapper {
  display: flex;
  padding: 0 1rem;
  width: 80%;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.funds-input__wrapper input {
  width: 100%;
  text-align: center;
}

.text-input__error {
  color: red;
  font-size: 13px;
}

