.text-input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 21px 9px 16px;
  width: 100%;
  border: 2px solid var(--primary);
  border-radius: var(--radius);
  position: relative;
}

.text-input__wrapper label {
  position: absolute;
  top: -1rem;
  background-color: var(--bg);
  padding: 4px;
  color: var(--secondary);
  border-radius: var(--radius);
}

.text-input__wrapper input {
  flex-grow: 1;
  height: fit-content;
}

.text-input__error {
  color: red;
  font-size: 13px;
}


/* fake input */
.fake-input__currency {
  color: var(--white);
  padding: 0 .5rem 0 0;
}


/* funds input */
.funds-input__wrapper {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  border-bottom: 1px solid var(--primary);
  position: relative;
}

.funds-input__wrapper label {
  color: var(--white);
  padding: 0 0 0 30px;
  font: var(--text-h3);
}

.funds-input__wrapper input {
  padding: 0 0 3px .5rem;
  width: 100%;
  display: flex;
  font: var(--text-h3);
}



/* overrides style change on autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--bg) inset;
  -webkit-text-fill-color: var(--white);
  border: none;
  outline: none;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--bg) inset;
  -webkit-text-fill-color: var(--white);
  border: none;
  outline: none;
}


/* checkbox */
.checkbox-input__wrapper {
  display: flex;
  gap: 0.5rem;
}


/* select elements */
select {
  background-color: var(--bg);
  color: var(--white);
}

select:focus {
  outline: 2px solid var(--secondary);
  border-radius: var(--radius);
}

.select-input__wrapper {
  border: transparent;
  width: 80%;
  position: relative;
}

.select-inout__options {
  position: absolute;
  top: 0;
  left: 0;
}


/* normal radio buttons */
.radio-input {
  appearance: none;
  background-color: #ffffff00;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid currentColor;
  border-radius: 100%;
  display: grid;
  place-content: center;
}


.radio-input::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
}

.radio-input:checked::before {
  transform: scale(0.7);
} 


